In [34]:
#from google.colab import drive
#drive.mount('/content/drive/')
import pandas as pd
import numpy as np
from astropy.cosmology import Planck18 as cosmo

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

First, I charge the data set. The "cat" will be all galaxies who applied the criterion in SQL data base. The Jla catalog is the data set saulo sends us

In [35]:
#cat=pd.read_csv('drive/MyDrive/saulo proyect/result/LAPOSTA.csv')
#jla=pd.read_csv('drive/MyDrive/saulo proyect/hostJla.txt',delim_whitespace=True)
cat=pd.read_csv('saulo proyect/result/LAPOSTA.csv')
jla=pd.read_csv('saulo proyect/hostJla.txt',delim_whitespace=True)
cat=cat.rename(columns={'SN name':'SN_name'})

i throw the data duplicated

In [36]:
Limpio=pd.DataFrame()
for i in range(len(cat['oid'])-1):
  if (cat['Main identifier'][i]==cat['Main identifier'][i+1]) and (cat['SN_name'][i]==cat['SN_name'][i+1]) and (cat['otypes'][i]==cat['otypes'][i+1]):
    pass
  else:
    Limpio=Limpio.append(cat.iloc[i], ignore_index=True)

then, i did separated the SNs with possibility have more 1 host galaxy

In [37]:
repeat=pd.DataFrame()
only=pd.DataFrame()
for i in range(len(Limpio['oid'])-1):
  if ((Limpio['SN_name'][i]==Limpio['SN_name'][i+1])):
    if(i!=0):
      if ((Limpio['SN_name'][i] != Limpio['SN_name'][i-1])):
        repeat=repeat.append(Limpio.iloc[i], ignore_index=True)
    elif (i==0) :
        repeat=repeat.append(Limpio.iloc[i], ignore_index=True)
    repeat=repeat.append(Limpio.iloc[i+1], ignore_index=True)
  if(i!=0):
    if ((Limpio['SN_name'][i]!=Limpio['SN_name'][i+1]) and (Limpio['SN_name'][i]!=Limpio['SN_name'][i-1])) :
      only=only.append(Limpio.iloc[i], ignore_index=True) 
  elif (i==0):
    only=only.append(Limpio.iloc[i], ignore_index=True)

In [38]:
#this is just for my confort
#repeat = repeat[['SN_name', 'oid', 'id', 'ra', 'dec', 'Main identifier', 'z gal',
#       'galdim_majaxis', 'otype', 'label', 'description', 'otypes',
#       'zcmb SN', 'zhelcmb SN', 'dz','set', 'ra SN', 'dec SN']]

I searched one by one and determined which galaxy is the host. I was very careful so I took into account parameters like redshift, ra, dec and visuals effect in the images.

In [39]:
pd.options.display.max_columns
pd.set_option('max_columns', 32)
#repeat   #this is the table, if you want to repeat the experience, you must uncomment this line and put it at the end of this cell or change this line to print (repeat)
finaly=pd.DataFrame()

choices=(0,46,48,50,54,56,62,66,68,70,72,75,77,79,82,89,90,92,94,96,101,103,105,109,111,117,120,121,126,128,130,138,141,143,145,149,152,160,178,
 179,182,186,191,204,208,216,223,225,243,244,253,255,259,262,265,272,274,281,291,295,313,323,329,331,334,336,338,343,346,349,357,378,389,406,411,412,
 414,434,438,445,446,449,469,472,476,478,480,485,488,499,503,504,507,527,535,551,561,564,575,587,594,612,628) 

for j in choices:
  finaly=finaly.append(repeat.iloc[j], ignore_index=True)
finaly['set_Pato']='visuales'

j=0
for i in range(len(repeat['oid'])-1):
  if ((repeat['SN_name'][i]!=repeat['SN_name'][i+1])):
    j+=1

print('I found ' +  str(len(finaly)) + ' Hosts out of ' + str(j) +' SNs')

I found 103 Hosts out of 131 SNs

Then I looked up if the sample of SNs whose name is "only" (each SN has only one possible host) exist in the Jla sample (you have to remember that this table has names of the hosts of SNs) and compared the names of galaxies from the databases.

In [40]:
j=0
lll=[]
for i in range(len(only['SN_name'])):
  aaaa= jla.index[(jla['SN'] == only['SN_name'][i])].tolist()
  if (len(aaaa)==0):
    pass
  elif (len(aaaa)==1):
    aaaa=aaaa[0]
    if(jla['SN'][aaaa]==only['SN_name'][i]):
      print(i,jla['name'][aaaa],only['Main identifier'][i])
      lll.append(i)
      j+=1
    else:
      print("PROBLEMAS")
  else:
    print("PROBLEMAS")
print('I have '+ str(j) +' SN in common with the sample Jla and the one i downloaded')
lll=lll[0:92] #the rest of the values don't matter because I can't look them up in the Sloan database.
sacar=[12,57,58,79,80,95,97,99]  #this datos will be remove because i cant look up the galaxy host (belong to sloan)
for j in sacar:
  lll.remove(j)
setanterior=len(finaly)
prueba1=len(lll)
for j in lll:
  finaly=finaly.append(only.iloc[j], ignore_index=True)
finaly['set_Pato'][104:len(finaly)]='cross with jla'

#print('The total objects el total tiene que dar ' + str (prueba1+setanterior) + ' y da ' + str(len(finaly)))


only2=only.drop(only.index[[lll]])
only2=only2.reset_index()
only2['set_Pato']='Two_criterion'

1 UGC3845 UGC  3845
2 NGC5304 NGC  5304
3 NGC1699 NGC  1699
4 NGC976 NGC   976
5 NGC6962 NGC  6962
6 IC4830 IC 4830
7 ESO234-69 ESO 234-69
8 NGC4708 NGC  4708
9 UGC5129 UGC  5129
10 MCG+11-08-012 MCG+11-08-012
11 NGC7311 NGC  7311
12 NGC6928 TYC 1091-1180-1
13 IC4758 IC 4758
14 2MASXJ18013361+2615109 MCG+04-42-022
15 NGC4679 NGC  4679
16 NGC4495 NGC  4495
17 UGC11816 UGC 11816
19 UGC3432 UGC  3432
20 NGC6627 NGC  6627
21 UGC646 UGC   646
22 NGC3873 NGC  3873
25 ESO300-9 ESO 300-9
26 UGC6332 UGC  6332
27 NGC6685 NGC  6685
28 IC1844 IC 1844
29 NGC232 NGC   232
31 MCG+11-13-036 Z 313-29
32 2MASXJ13352270-3409338 ESO 383-32
33 NGC4619 NGC  4619
34 UGC11064 UGC 11064
35 UGC8162 UGC  8162
37 ESO445-066 ESO 445-66
38 UGC14 UGC    14
39 MCG+03-31-093 MCG+03-31-093
40 2MASXJ10154226+5540030 2MASX J10154226+5540030
41 NGC4493 NGC  4493
42 ESO508-67 ESO 508-67
44 UGC01993 UGC  1993
45 UGC3634 UGC  3634
46 MCG+05-43-016 MCG+05-43-016
47 MCG+03-22-020 MCG+03-22-020
48 IC3690 IC 3690
49 NGC4704 NGC  4704
50 NGC6104 NGC  6104
51 NGC6365A UGC 10832
52 MCG-01-09-006 MCG-01-09-006
53 UGC4133 UGC  4133
54 MCG+03-44-003 MCG+03-44-003
55 2MASXJ11380048-3219286 ESO 439-18
56 2MASXJ07175757+0941218 PMN J0717+0941
57 SDSSJ234014.21+261211.8 LEDA 5065169
58 MCG+03-41-004 2MASX J15562803+2002482
59 NGC4172 NGC  4172
60 UGC4455 UGC  4455
61 NGC6038 NGC  6038
62 SDSSJ112538.81+224952.2 LEDA 1676859
63 MCG+03-27-038 MCG+03-27-038
64 UGC12071 UGC 12071
65 MCG-03-01-008 ESO 538-13
67 2MASXJ00361813+1123354 2MASX J00361813+1123354
68 2MASXJ02500884+1250372 MCG+02-08-014
69 2MASXJ07415700-6231144 6dFGS gJ074157.0-623115
70 2MASXJ08540470-0710597 MCG-01-23-008
71 2MASXJ15525577+6556079 MCG+11-19-025
72 MCG+06-02-017 MCG+06-02-017
73 2MASXJ02181834+3727513 MCG+06-06-012
74 SCPJ110136.37-060631.6 LEDA 5065171
75 UGC10483 UGC 10483
76 UGC1666 UGC  1666
77 LSBG-F119-024 LEDA  376039
78 ESO291-11 ESO 291-11
79 1237666407898940000 2MASX J22594265-0000478
80 1237666339726690000 2MASX J01135716+0022171
81 MCG+00-06-003 MCG+00-06-003
82 2MASXJ12462478+1156577 2MFGC 10065
83 2MASXJ22453410-0845026 2MFGC 17122
84 2MASXJ10033546-3527410 2MASX J10033546-3527410
85 2MASXJ21345926-6244143 2MASX J21345926-6244143
86 2MASXJ13310895-3312576 2MASX J13310895-3312576
87 UGC11149 UGC 11149
93 UGC1333 UGC  1333
95 1237663784203910000 LEDA 1154577
96 2MASXJ03292797-3716222 2MASX J03292797-3716222
97 1237666339726360000 2MASX J01105805+0016343
98 SDSSJ121438.73+121347.7 LEDA 5065174
99 1237666299482800000 LEDA 1130011
101 SDSSJ215558.49-010413.0 LEDA 4524675
102 PGC662260 LEDA  662260
105 PGC3116670 LEDA 3116670
107 PGC998264 LEDA  998264
108 2MASXJ03363839-1821123 LEDA  869197
111 2MASXJ14564322+0919361 IRAS 14542+0931
113 1237657189833840000 2MASX J00213789-0100383
114 1237663204922490000 2MASX J01161269+0047265
118 1237657069547680000 2MASS J01415128-0052362
120 1237656568648830000 2SLAQ J204853.04+001129.8
128 1237678617430130000 2MASS J01523413+0114390
129 1237657190900830000 2MASS J23200446-0003202
134 1237663784219120000 Anon J031833+0007
135 1237663783127020000 SDSS J003053.26-004307.0
136 1237678437019290000 SDSS J030522.63+005135.0
137 1237663479795480000 SDSS J221143.27+003445.5
149 1237678617398540000 Anon J220341+0034
150 1237660024523920000 SDSS J030421.25-010347.1
153 1237663237667550000 SDSS J034159.34-004658.5
154 1237663543682530000 Anon J215647+0019
158 1237666302164660000 2MASS J03071103+0107121
159 1237663204919280000 2MASS J00463226+0050174
170 1237663542603810000 SDSS J211120.86-002643.4
172 1237663237129500000 Anon J033049-0114
175 1237663543143830000 SDSS J214000.47-000029.0
178 1237657190371300000 Anon J002700-0035
186 1237656567038150000 Anon J204810-0110
190 1237657191443660000 SDSS J001423.63+001959.4
196 1237657071695820000 SDSS J014751.04+003825.5
202 1237666338116930000 SDSS J012137.58-005837.7
204 1237657189815680000 Anon J213530-0058
207 1237663544220980000 SDSS J221127.68+004520.1
212 1237666338115360000 SDSS J010743.60-010222.1
226 1237663543147360000 Anon J221243-0002
228 1237657070091110000 SDSS J024205.00-003227.7
229 1237656567579870000 SDSS J213256.13-004200.2
234 1237666302168200000 LEDA 1184310
242 1237656906354000000 SDSS J235005.06-005517.5
249 1237678617429410000 SDSS J014559.74+011144.4
255 1237666299481750000 Anon J032021-0053
264 1237657191980200000 2MASS J00112456+0042070
284 1237666407919780000 DENIS J020950.3-000341
286 1237678434328180000 Anon J002713+0107
289 1237656567585180000 2MASS J22210264-0044544
310 1237663544221760000 SDSS J221841.11+003822.2
323 1237666302167880000 Anon J033637+0104
334 1237663544221500000 SDSS J221616.45+004228.1
337 nan Anon J221310+0103
340 1237666339189560000 SDSS J011135.04-000021.4
343 1237663542612590000 Anon J223132-0029
346 1237663543685420000 Anon J222315+0015
347 1237663478724430000 SDSS J223604.05-002229.7
348 1237666408460450000 SDSS J024451.21+002155.1
350 1237663543696750000 Anon J000713+0020
351 1237663784751400000 SDSS J023628.25+003042.6
352 1237663479793710000 Anon J215546+0035
353 1237663457779380000 Anon J213511+0009
355 1237657191979810000 Anon J000758+0038
356 nan Anon J011049+0100
358 1237659743703800000 Anon J204155+0105
364 1237678617412760000 SDSS J231351.64+011526.2
366 1237657191976530000 Anon J233759+0038
369 1237663783674120000 SDSS J020404.01-002158.7
372 1237663783675760000 SDSS J021902.35-001621.2
373 1237663542612460000 SDSS J223031.48-003008.6
389 1237657190369790000 SDSS J001303.75-003712.9
393 nan Anon J203144+0014
395 1237663237129310000 Anon J032922-0105
401 nan Anon J215108-0050
402 1237666408437250000 SDSS J231239.09+001557.5
408 nan Anon J001900-0016
413 1237657189836850000 Anon J004857-0054
414 1237663204923610000 Anon J012606+0040
418 1237663783674180000 Anon J020452-0019
422 1237666408459270000 Anon J023354+0016
431 1237663543137270000 Anon J204019-0000
432 1237657192517270000 Anon J001309+0108
I have 163 SN in common with the sample Jla and the one i downloaded

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/pandas/core/indexes/base.py:4616: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  result = getitem(key)

Finally, let's be strict with the only SNs ones that have a single Host and I can't compare them with anything. But first we need to define some functions

In [41]:
def horaGrad(H):
  '''
  returns degrees
  '''
  return(H*15)
def gradHora(G):
  '''
  returns hours
  '''
  return(G/15)

def arcSegGrad(As):  
  '''returns degrees'''
  return(As/3600)

def circulo(ra,ra1,dec,dec1,z,kpc=60):
#'''This function converts two galactic coordinates to Cartesian coordinates on a sphere of radius 1 (for both objects). Then evaluate if the separation (depending on the redshift) is enough to consider the galaxy with a host galaxy'''
  cota=(cosmo.arcsec_per_kpc_proper(z).value)*kpc
  
  if (ra<0):
    phi=(ra+360)*np.pi/180 #ra is in degrate
  else:
    phi=ra*np.pi/180 #ra is in degrate
  
  if (ra1<0):
    phi1=(ra1+360)*np.pi/180
  else:
    phi1=ra1*np.pi/180 #ra is in degrate
  
  theta=(90-gradHora(dec))*np.pi/180 #dec is in Hours
  theta1=(90-gradHora(dec1))*np.pi/180

  x=1*np.sin(theta)*np.cos(phi)
  x1=1*np.sin(theta1)*np.cos(phi1)
  
  y=1*np.sin(theta)*np.sin(phi)
  y1=1*np.sin(theta1)*np.sin(phi1)
  
  z=1*np.cos(theta)
  z1=1*np.cos(theta1)
  
  sep=np.sqrt((x-x1)**2+(y-y1)**2+(z-z1)**2)
  sepcota=arcSegGrad(cota)*np.pi/180 #is in arcsec (3600 arcsec is a 1 degrate)

 # print(sep,sepcota)
  return(sep<sepcota)

I check with the sample "finaly" (under the assumption that all SNs in this dataset have a correctly assigned Galaxy Host)

In [42]:
usm=0
for j in range(len(finaly)):
  if (circulo(finaly['ra SN'][j],finaly['ra'][j],finaly['dec SN'][j],finaly['dec'][j],finaly['zcmb SN'][j])):
    pass
  else:
    print(finaly.iloc[j])
    usm+=1
print(usm,len(finaly))

0 187

So I applicated this criterial and redshift criterial in the "only2" sample.

In [43]:
#criterion angular separation.
usm=0
loss=[]
for j in range(len(only2)): 
  if (circulo(only2['ra SN'][j],only2['ra'][j],only2['dec SN'][j],only2['dec'][j],only2['zcmb SN'][j])): #in this case, we assume the SNs are in the host galaxy (for this reason, we take the zcmbs of the SNs)
    pass
  #if (circulo(only2['ra SN'][j],only2['ra'][j],only2['dec SN'][j],only2['dec'][j],angulo)):
    #pass  
  else:
#    print(only2.iloc[j])
    loss.append(j)
    usm+=1
print('only ' +str(usm) +' in ' + str(len(only2)) + ' dont applied with this criterion') 
only3=only2.drop(only2.index[[loss]])
only3=only3.reset_index()
only3.pop('level_0')
only3.pop('index')
#----------------------------------------------------------------------------------------------------------------------------

#criterion redshift separation. (if we assumption the redshift errors is 10% the value)
usm2=0
loss2=[]
for j in range(len(only3)):
  if (abs(only3['zcmb SN'][j]-only3['z gal'][j])<(only3['zcmb SN'][j]*0.1)):
    pass
  else:
#    print(only2.iloc[j])
    loss2.append(j)
    usm2+=1
print('only ' +str(usm2) +' in ' + str(len(only3)) + ' dont applied with this criterion') 
only4=only3.drop(only3.index[[loss2]])
only4=only4.reset_index()
only4.pop('index');

only 3 in 410 dont applied with this criterion
only 11 in 407 dont applied with this criterion

/usr/local/lib/python3.7/dist-packages/pandas/core/indexes/base.py:4616: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  result = getitem(key)

Finally, concated all sample data with a legend by how to constructed (in the column with name 'set pato')

In [44]:
TheTrue=pd.concat([finaly,only4])
TheTrue = TheTrue.sort_values('zcmb SN').reset_index()
TheTrue

,index,SN_name,oid,id,ra,dec,Main identifier,z gal,galdim_majaxis,otype,label,description,otypes,zcmb SN,zhelcmb SN,dz,...,x1,dx1,color,dcolor,3rdvar,d3rdvar,tmax,dtmax,cov_m_s,cov_m_c,cov_s_c,set,ra SN,dec SN,biascor,set_Pato
0,103,sn1997do,440013.0,Z 235-15,111.677965,47.094102,UGC 3845,0.010117,0.6930,G,Galaxy,Galaxy,*|G|IR,0.010550,0.010120,0.0,...,0.791332,0.187870,0.118415,0.030547,9.941915,0.280891,50766.597803,0.115604,0.003521,0.000989,0.001322,3.0,111.677083,47.093333,-0.008434,NaN
1,104,sn2005al,2208076.0,[WFC91] ACO 3574 60,207.506264,-30.578405,NGC 5304,0.012399,0.9630,GiG,GtowardsGroup,Galaxy towards a Group of Galaxies,*|G|GiC|GiG|Rad,0.012317,0.012400,0.0,...,-1.180547,0.028436,-0.091481,0.018963,10.691509,0.280891,53430.552176,0.081061,-0.000102,0.000273,-0.000170,3.0,207.501373,-30.576166,-0.008477,cross with jla
2,105,sn2001ep,748479.0,[CHM2007] LDC 351 J045659.63-0445246,74.248511,-4.756854,NGC 1699,0.013098,0.7200,GiG,GtowardsGroup,Galaxy towards a Group of Galaxies,*|G|GiG|IR,0.013324,0.013012,0.0,...,-0.925188,0.057481,0.047286,0.021409,10.286000,0.139500,52200.061144,0.083360,0.000095,0.000413,-0.000040,3.0,74.251450,-4.761120,-0.008512,cross with jla
3,106,sn1999dq,1496044.0,[SLK2004] 318,38.500159,20.976748,NGC 976,0.014431,0.9900,GiG,GtowardsGroup,Galaxy towards a Group of Galaxies,*|G|GiG|IR,0.013533,0.014327,0.0,...,0.869173,0.037782,0.026883,0.023491,10.689000,0.138000,51436.128217,0.038129,-0.000050,0.000534,-0.000124,3.0,38.498667,20.975111,-0.008520,cross with jla
4,107,sn2002ha,2662716.0,[PVK2003] 311.82917 +00.32139,311.829438,0.320809,NGC 6962,0.014010,1.1530,LIN,LINER,LINER-type Active Galaxy Nucleus,*|AGN|G|GiG|GiP|IR|LIN,0.013652,0.014046,0.0,...,-1.295292,0.070581,-0.092539,0.022754,11.114000,0.153500,52581.355367,0.105603,0.000317,0.000439,0.000010,3.0,311.827470,0.312600,-0.008525,cross with jla
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
578,395,SNLS 04D3lp,525996.0,[HSP2005] J141950.927+523011.85,214.962196,52.503292,[HSP2005] J141950.927+523011.85,0.983000,NaN,G,Galaxy,Galaxy,G,0.983777,0.983000,0.0,...,-1.385938,0.567714,0.009485,0.079183,8.895000,0.125000,53148.881346,0.859081,0.023079,-0.004558,0.003503,1.0,214.962120,52.503195,-0.029794,Two_criterion
579,99,SNLS 04D3dd,525980.0,[HSP2005] J141748.431+522814.72,214.451796,52.470756,[HSP2005] J141748.431+522814.72,1.010000,NaN,G,Galaxy,Galaxy,G,1.002795,1.002000,0.0,...,0.671653,0.683790,-0.016458,0.075290,9.480000,0.133500,53113.476527,1.147182,0.028800,-0.003574,0.011905,1.0,214.451686,52.470678,-0.031582,visuales
580,100,Eagle,4165409.0,[SWM2014] GOODS-N 17486,189.336887,62.227980,GOODS J123720.85+621340.7,1.020000,0.0105,G,Galaxy,Galaxy,FIR|G|IR,1.020807,1.020000,0.0,...,0.305488,0.291649,-0.103800,0.060285,10.004000,0.030000,53295.094876,0.698341,0.003498,0.000915,0.006604,4.0,189.336460,62.228194,0.000000,visuales
581,101,Lancaster,478372.0,[WBD96] 3-430.1,189.235797,62.214750,SHARDS J123656.59+621252.8,1.233000,0.0068,G,Galaxy,Galaxy,G|PoG,1.230892,1.230000,0.0,...,-0.077374,0.690464,0.087011,0.048271,10.134000,0.194500,53431.841687,1.597837,0.003542,0.000211,0.008241,4.0,189.236330,62.214814,0.000000,visuales
582,102,Aphrodite,655114.0,[TIB2005] 457,53.156520,-27.779662,Anon J033237-2746,1.306863,NaN,EmG,EmissionG,Emission-line galaxy,EmG|G|NIR|mm,1.299106,1.300000,0.0,...,0.664323,0.357559,0.009896,0.036862,9.381000,0.368000,52552.128019,0.628246,0.004579,0.000365,0.006110,4.0,53.156333,-27.779611,0.000000,visuales

This part is doesn't matter

In [45]:
set1=only[only['set']==1].reset_index()
set2=only[only['set']==2].reset_index()
set3=only[only['set']==3].reset_index()

In [46]:
#Ver set, set1=0;set2=80;set3=83 (solo 10 mas y estan todas)
j=0
for i in range(len(set3['SN_name'])):
  aaaa= jla.index[(jla['SN'] == set3['SN_name'][i])].tolist()
  if (len(aaaa)==0):
    pass
  elif (len(aaaa)==1):
    aaaa=aaaa[0]
    if(jla['SN'][aaaa]==set3['SN_name'][i]):
      print(i,jla['name'][aaaa],set3['Main identifier'][i])
      j+=1
    else:
      print("PROBLEMAS")
  else:
    print("PROBLEM")
print('Tengo '+ str(j) +' SN en comun entre la muestra de HostJla y las que yo baje')

1 UGC3845 UGC  3845
2 NGC5304 NGC  5304
3 NGC1699 NGC  1699
4 NGC976 NGC   976
5 NGC6962 NGC  6962
6 IC4830 IC 4830
7 ESO234-69 ESO 234-69
8 NGC4708 NGC  4708
9 UGC5129 UGC  5129
10 MCG+11-08-012 MCG+11-08-012
11 NGC7311 NGC  7311
12 NGC6928 TYC 1091-1180-1
13 IC4758 IC 4758
14 2MASXJ18013361+2615109 MCG+04-42-022
15 NGC4679 NGC  4679
16 NGC4495 NGC  4495
17 UGC11816 UGC 11816
19 UGC3432 UGC  3432
20 NGC6627 NGC  6627
21 UGC646 UGC   646
22 NGC3873 NGC  3873
25 ESO300-9 ESO 300-9
26 UGC6332 UGC  6332
27 NGC6685 NGC  6685
28 IC1844 IC 1844
29 NGC232 NGC   232
31 MCG+11-13-036 Z 313-29
32 2MASXJ13352270-3409338 ESO 383-32
33 NGC4619 NGC  4619
34 UGC11064 UGC 11064
35 UGC8162 UGC  8162
37 ESO445-066 ESO 445-66
38 UGC14 UGC    14
39 MCG+03-31-093 MCG+03-31-093
40 2MASXJ10154226+5540030 2MASX J10154226+5540030
41 NGC4493 NGC  4493
42 ESO508-67 ESO 508-67
44 UGC01993 UGC  1993
45 UGC3634 UGC  3634
46 MCG+05-43-016 MCG+05-43-016
47 MCG+03-22-020 MCG+03-22-020
48 IC3690 IC 3690
49 NGC4704 NGC  4704
50 NGC6104 NGC  6104
51 NGC6365A UGC 10832
52 MCG-01-09-006 MCG-01-09-006
53 UGC4133 UGC  4133
54 MCG+03-44-003 MCG+03-44-003
55 2MASXJ11380048-3219286 ESO 439-18
56 2MASXJ07175757+0941218 PMN J0717+0941
57 SDSSJ234014.21+261211.8 LEDA 5065169
58 MCG+03-41-004 2MASX J15562803+2002482
59 NGC4172 NGC  4172
60 UGC4455 UGC  4455
61 NGC6038 NGC  6038
62 SDSSJ112538.81+224952.2 LEDA 1676859
63 MCG+03-27-038 MCG+03-27-038
64 UGC12071 UGC 12071
65 MCG-03-01-008 ESO 538-13
67 2MASXJ00361813+1123354 2MASX J00361813+1123354
68 2MASXJ02500884+1250372 MCG+02-08-014
69 2MASXJ07415700-6231144 6dFGS gJ074157.0-623115
70 2MASXJ08540470-0710597 MCG-01-23-008
71 2MASXJ15525577+6556079 MCG+11-19-025
72 MCG+06-02-017 MCG+06-02-017
73 2MASXJ02181834+3727513 MCG+06-06-012
74 SCPJ110136.37-060631.6 LEDA 5065171
75 UGC10483 UGC 10483
76 UGC1666 UGC  1666
77 LSBG-F119-024 LEDA  376039
78 ESO291-11 ESO 291-11
79 2MASXJ12462478+1156577 2MFGC 10065
80 2MASXJ22453410-0845026 2MFGC 17122
81 2MASXJ10033546-3527410 2MASX J10033546-3527410
82 2MASXJ21345926-6244143 2MASX J21345926-6244143
83 2MASXJ13310895-3312576 2MASX J13310895-3312576
84 UGC11149 UGC 11149
86 2MASXJ03292797-3716222 2MASX J03292797-3716222
87 SDSSJ121438.73+121347.7 LEDA 5065174
89 PGC662260 LEDA  662260
90 PGC998264 LEDA  998264
91 2MASXJ03363839-1821123 LEDA  869197
92 2MASXJ14564322+0919361 IRAS 14542+0931
Tengo 83 SN en comun entre la muestra de HostJla y las que yo baje